<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.EmployeeMapper">
    <select id="selectAll" resultType="tws.entity.Employee">
        select * from `employee`;
    </select>
    <select id="getEmployee" resultType="tws.entity.Employee">
    	select * from employee where id = #{id};
    </select>
    <update id="updateEmployee">
    	update employee set name = #{employee.name}, age = #{employee.age}
    	where id = #{employee.id};
    </update>
    <insert id="insertEmployee">
    	insert into employee (id,name,age) values (#{employee.id}, #{employee.name}, #{employee.age});
    </insert>
    <delete id="deleteEmployee">
    	delete from employee
    	where id = #{id};
    </delete>
</mapper>
